.App {
}

.AppHeaderContainer {
  background-color: #222;
  padding: 12px;
  line-height: 24px;
}

  .AppHeaderLogo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  .AppHeaderLogo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  .AppHeaderLogo .AppHeaderLogoImage {
    width: 32px;
    margin-right: 12px;
  }

.Container {
  margin: 0 auto;
  width: 1040px;
}
