.RecordCard, .RecordListItem {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    margin: 12px;
    border: 1px solid #eee;
    padding: 12px;
    color: #ffffff;
    background: #470939;
}

.RecordListItem {
    height: 120px;
    width: 100%;
    margin: 12px 6px;
}

    .RecordName {
        font-size: 32px;
        font-weight: 700;
    }

    .RecordArtists {
        font-size: 20px;
    }

    .RecordUserInfo {
        font-size: 11px;
    }
