.TopRecords {
    display: flex;
    flex-wrap: wrap;
}

.TopsHeader {
    display: flex;
    width: 100%;
    align-items: center;
}

    .TopsHeader h2 {
        flex: 1 0;
    }

.TopsSorts {
    display: flex;
}

    .TopsSorts img {
        width: 10px;
        margin-left: 2px;
        margin-right: -20px;
    }

    .TopsSortsLink {
        margin-right: 20px;
        font-size: 12px;
    }

    .TopsSortsLink a {
        color: #888;
        text-decoration: none;
    }

.ViewModeIcon {
    width: 24px;
    cursor: pointer;
}